@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Uncial+Antiqua&display=swap");

.about-me {
  /* background-color: #122620; */
  padding: 0;
  margin: 0;
  color: #DDA15E;
  font-family: "Montagu Slab", serif;
}
.background-video {
  overflow: hidden;
  z-index: -1;
}

video {
  object-fit: cover;
  filter: blur(7px);
  object-fit: cover;
  transform: scale(1.04);
}

.aboutMe-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  margin: 25px 25vw;
  padding: 25px;
  background-color: #1226204b;
  position: absolute;
  top: 115vh;
}

.aboutMe-main-info h1 {
  font-size: 3.5em;
}

.aboutMe-main-info h3 {
  font-size: 1.95em;
  padding-bottom: 3.5vh;
}

.about-me-column {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.about-me-column-first p,
.about-me-column-second p {
  font: 1.12rem;
}

caption {
  color: #FEFAE0;
}
