@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Uncial+Antiqua&display=swap");

.about-me {
  background-color: #122620;
  padding: 0;
  margin: 0;
  color: #b68d40;
  font-family: "Montagu Slab", serif;
}
.background-video {
  overflow: hidden;
  z-index: -1;
}

video {
  object-fit: fill;
  filter: blur(7px);
  object-fit: cover;
  transform: scale(1.04);
}

.aboutMe-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 25px 25vw;
  padding: 5px 20px 0px 25px;
  background-color: rgb(18, 38, 32, 0.75);
  position: absolute;
  top: 110vh;
}

.aboutMe-main-info h1 {
  font-size: 3.5em;
}

.aboutMe-main-info h3 {
  font-size: 1.5em;
  padding-bottom: 1.25vh;
}

.about-me-column {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

caption {
  color: wheat;
}
