.contact-me {
  padding: 0;
  margin: 0;
  background-color: #122620;
  color: #dda15e;
  padding-bottom: 40px;
}

.contact-me h2 {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Montagu Slab", serif;
  text-decoration: underline white;
}

.contact-me h4 {
  font-size: 2rem;
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-family: "Montagu Slab", serif;
}

.form {
  margin: 0% 30%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dda15e;
  border-radius: 40px;
}

label {
  margin: 10px;
  font-size: 1.5rem;
}
:placeholder-shown {
  font-size: 1.5rem;
  font-style: italic;
  padding-left: 20px;
}

input {
  padding: 10px;
  border-radius: 15px;
  font-size: 1.5rem;
}

textarea {
  border-radius: 15px;
}

.form button {
  border-radius: 15px;
  padding: 10px;
  background-color: #fefae0;
  color: #122620;
  font-size: 1.25rem;
}

.form button:hover {
  color: #fefae0;
  background-color: #122620;
  border: 1px solid #dda15e;
}
