.experience {
  color: #dda15e;
  padding-bottom: 40px;
  background-color: #122620;
  padding: 30px 15px;
}

.experience h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-family: "Montagu Slab", serif;
  text-decoration: underline white;
  background-color: #122620;
}

.each-experience {
  position: relative;
  padding-left: 75px;
  padding-bottom: 30px;
}

.experience-wrapper {
  margin: 0px 25%;
  padding-top: 25px;
  box-shadow: 0 0 30px rgba(15, 67, 22, 0.75);
  border: 1px solid gray;
  border-radius: 10px;
}

.experience-wrapper:last-child {
  padding-bottom: 0;
}

.each-experience:last-child::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 80%;
  left: 20px;
  background-color: #fefae0;
}

.each-experience::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 20px;
  margin-left: 10px;
  background-color: #fefae0;
}

.each-experience h3 {
  text-align: left;
}

.each-experience .bullet {
  position: absolute;
  left: 15px;
  top: 0;
  height: 30px;
  width: 30px;
  background-color: #fefae0;
  border-radius: 50%;
}

.each-experience .job-header .company .location {
  color: #fefae0;
}
