@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.projects {
  padding: 0;
  margin: 0;
  background-color: #122620;
  padding-bottom: 40px;
}

.projects h1 {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Montagu Slab", serif;
  text-decoration: underline white;
  color: #dda15e;
}

.project-wrapper {
  margin: 0% 10%;
}

.project-list {
  gap: 25px;
  justify-content: center;
}

.individual-project-item {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 20px;
  border-radius: 5%;
  background-color: #fefae0;
  justify-content: center;
  align-items: center;
}

.individual-project-item:hover {
  transform: scale(1.05);
}

.project-images {
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px;
  color: #dda15e;
  /* Change font family */
  font-size: 1.3rem;
}

.individual-project-info h4 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #bc6c25;
  margin-bottom: 0px;
  padding-bottom: 0;
  /* Change font family */
}
.individual-project-info .progLang {
  font-size: 1.05rem;
}

.slick-slide > div {
  margin: 0px 15px;
}

.detailed-info button {
  background-color: #122620;
  border-radius: 10px;
}

.detailed-info a {
  color: #ffffff;
  font-size: 1.25em;
  text-decoration: none;
  /* Change font family */
  font-family: "Times New Roman", Times, serif;
}

.project-images img {
  width: 70vh;
  height: 35vh;
}

.individual-project-info .progLang {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  height: 35px;
  width: 35px;
}
