.services {
  padding: 0;
  margin: 0;
  background-color: #122620;
  color: #dda15e;
  padding-bottom: 50px;
}

.services h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-family: "Montagu Slab", serif;
  text-decoration: underline white;
  background-color: #122620;
}

.services-wrapper {
  display: flex;
  justify-content: center;
}

.service-list {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 30vw);
  justify-items: center;
}

.single-service .info {
  margin: 0;
  padding: 0% 5%;
  text-align: justify;
}

.single-service p {
  margin-top: 2.5%;
  font-size: 1.25rem;
}
.single-service h4 {
  font-size: 2rem;
  text-align: center;
  color: #fefae0;
}

.single-service .logo {
  height: 7.5vh;
  width: 7.5vh;
  border-radius: 50%;
  margin: 0 auto 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.single-service-item {
  background-color: #122620;
  border: 3px solid #283618;
  border-radius: 10px;
  padding-top: 15px;
  transition: all 0.3s ease-in-out;
}

.single-service-item:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.single-service-item:hover .logo {
  background: #dda15e;
  color: #283618;
}
