.services {
  padding: 0;
  margin: 0;
  background-color: #122620;
  color: #dda15e;
  padding-bottom: 40px;
}

.services h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-family: "Montagu Slab", serif;
  text-decoration: underline white;
  background-color: #122620;
}

.services-wrapper {
  display: flex;
  justify-content: center;
}

.service-list {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 40vw);
  justify-items: center;
}

.single-service .info {
  margin: 5% 10% 0% 0%;
  padding: 0% 10%;
}

.single-service p {
  margin-top: 5%;
  font-size: 1.5rem;
}
.single-service h4 {
  font-size: 2.5rem;
}
