.testimonials {
  padding: 0;
  margin: 0;
  background-color: #122620;
  color: #dda15e;
  padding-bottom: 40px;
}

.testimonials h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-family: "Montagu Slab", serif;
  text-decoration: underline white;
}

.testimonials-wrapper {
  display: flex;
  justify-content: center;
}

.testimonial-list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 25vw);
}

.testimony-header img {
  border-radius: 50%;
}

.testimony-header {
  display: grid;
  grid-template-columns: 12fr;
  align-items: center;
}

.individual-testimony {
  border: 2px solid black;
  padding: 20px;
  align-items: center;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
}

.individual-name {
  display: inline;
  margin-left: 10px;
  font-size: 1.45em;
  position: relative;

  left: 50%;
}

.testimony-description {
  text-align: justify;
}

.testimony-img {
  display: inline;
  position: relative;
  top: 45%;
  left: -25%;
}

.testimony-stars {
  text-align: right;
  margin: 5px 25px;
}
