@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Uncial+Antiqua&display=swap");
.testimonials {
  padding: 0;
  margin: 0;
  background-color: #122620;
  color: #dda15e;
  padding-bottom: 80px;
}

.testimonials h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0px 0px 40px 0px;
  font-family: "Montagu Slab", serif;
  text-decoration: underline white;
}

.testimonials-wrapper {
  display: flex;
  justify-content: center;
}

.testimonial-list {
  display: grid;
  gap: 75px;
  grid-template-columns: repeat(3, 25vw);
}

.testimony-header img {
  border-radius: 50%;
  left: -25%;
  width: 75px;
  height: 75px;
}

.testimony-header {
  display: grid;
  grid-template-columns: 12fr;
  align-items: center;
}

.individual-testimony {
  position: relative;
  border: 2px solid #74736f;
  padding: 20px;
  align-items: center;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  height: 35vh;
  overflow: visible;
  font-family: "Montagu Slab", serif;
}

.individual-name {
  display: inline;
  margin-left: 10px;
  margin-bottom: 30px;
  font-size: 1.45em;
  width: 159px;
  height: 70px;
  position: relative;
  left: 10%;
  font-size: 1rem;
}

.testimony-description {
  padding: 25px 25px;
  text-align: justify;
  color: #dad7cd;
}

.testimony-img {
  position: absolute;
  bottom: -20px;
  left: -20%;
  display: flex;
  align-items: center;
}

.testimony-stars {
  text-align: center;
  margin: 5px 25px;
}
