.footer {
  background-color: rgb(55, 55, 55);
  color: wheat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100vw;
  gap: 10vw;
}

.footer-image {
  background-color: wheat;
  margin: 20px;
  border-radius: 5%;
  margin-left: 5vw;
}

h3 {
  text-align: center;
  align-items: center;
}

img {
  height: auto;
  width: 25vw;
}

.footer-quick-links,
.connect-with-me {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

li {
  list-style-type: none;
  padding-top: 15px;
}

ul {
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.copyright {
  font-size: large;
  text-align: center;
}
