.footer {
  background: rgb(90, 90, 90);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border-top: 2px solid black;
  padding-top: 10px;
}

.footer-image {
  background-color: white;
  margin: 20px;
  border-radius: 5%;
  margin: 0 5vw;
}

.footer h3 {
  text-align: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer-image img {
  height: auto;
  width: 18vw;
}

.footer-quick-links,
.connect-with-me {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 22.5%;
}

.footer li {
  list-style-type: none;
  padding-top: 5px;
  font-style: italic;
}

.footer ul {
  padding-left: 0px;
}

.footer a {
  text-decoration: none;
  color: #fefae0;
  font-size: 1rem;
}

.copyright {
  font-size: 1.7rem;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
