@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");
@import url("https://db.onlinewebfonts.com/c/c9f83a2112dba37a28475a67610471d3?family=Corporate+S+W07+Medium");
@import url("https://fonts.cdnfonts.com/css/vintage-rotter-personal-use");

.header {
  background-color: #122620;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
  padding-bottom: 10px;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: #dda15e;
}

.logo {
  padding-left: 10px;
  padding-top: 0px;
  font-family: "Vintage Rotter Personal Use", sans-serif;
  font-size: 3rem;
}

.menu-items {
  color: #dda15e;
  padding-top: 10px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  padding-left: 0px;
  text-align: center;
  gap: 10px;
}

.menu-items a {
  text-decoration: none;
  color: #dda15e;
}

.menu-items li {
  padding: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Corporate S W07 Medium";
}

.menu-items li:hover {
  background-color: #fefae0;
  color: #122620;
  border-radius: 5%;
}

.resume {
  padding: 0px 10px;
  display: flex;
  justify-content: end;
}
