.imageslider {
  align-items: center;
  justify-content: center;
}

.images {
  display: flex;
  width: 125%;
  height: 125%;
}

.slider {
  position: absolute;
  background-color: azure;
  display: flex;
  justify-content: center;
}
/* 
button {
  all: unset;
  position: absolute;
  top: 45%;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 0px;
  opacity: 25%;
}

.prev:hover {
  opacity: 75%;
  background-color: white;
}

.next {
  right: 0px;
  opacity: 25%;
}

.next:hover {
  opacity: 75%;
  background-color: white;
} */
